.container {
    width: fit-content;
}
.logo {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', fantasy;
    color: #ff0083;
    text-shadow: #000 2px 2px 0.2rem;
}

header > h1 {
    margin-bottom: 0;
}

header > time {
    font: italic 0.7rem sans-serif;
}
aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: 0.5rem;
}

p {
    font-family: 'Fira Sans', sans-serif;
}

nav {
    border-bottom: 1px solid black;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
/* article.fst p:first-child {
    color: #ff0083;
} */
article p:first-of-type::first-letter {
    color: #ff0083;
}
/* article.fst p:first-child::first-line {
    color: #ff0083;
} */